* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgba(0, 0, 0, 0.118);
  display: flex;
  flex-direction: column;
  font: 1em Luxurious Roman, times, serif;
  height: 100%;
}

input {
  border: none;
  margin: 5px;
  flex-basis: 45%;
  padding: 10px;
  border-radius: 5px;
}

select {
  border: none;
}

button {
  width: 100%;
  padding: 10px;
  height: 35px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: purple;
}

.header {
  background-color: rgb(50, 167, 145);
  left: 0;
  top: 0;
  width: 100%;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

header h1 {
  color: white;
}

.trybewarts-header-logo {
  width: 5%;
}

.trybewarts-login {
  display: flex;
  align-items: center;
}

.main-content {
  margin: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 95%;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

#trybewarts-forms-logo {
  height: 500px;
}

.user-info {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.user-info label {
  flex-basis: 45%;
  padding: 10px;
}

.user-info label select {
  width: 79%;
  border: none;
  padding: 4px;
  border-radius: 10px;
  background-color: white;
}

.user-family {
  display: flex;
  flex-direction: column;
}


.user-family label {
  margin: 10px;
}

.familia-conteudos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.radio-container {
  margin-top: 10px;
}

.avaliation {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 8px;
}

#avalieTrybe {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

#label-rate {
  margin: 0;
}

.skill-container {
  display: flex;
  flex-basis: 45%;
  flex-flow: row wrap;
}

.skill-container label {
  margin: 10px;
}

#submit-btn {
  margin-top: 8px;
}

#counter-textarea {
  display: flex;
  justify-content: flex-end;
  color: rgba(0, 0, 0, 0.522);
}

#text {
  margin-left: 4px;
}

textarea {
  border: purple 1px solid;
  border-radius: 5px;
  width: 100%;
}


footer {
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  height: 50px;
  bottom: 0;
  background-color: rgba(148, 148, 148, 0.966);
  width: 100%;
}

footer h4 {
  margin: auto;
}

.dados-obtidos {
  margin-top: 8px;
  font-size: 1.2rem;
}
