*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
}

.header {
  background-color: rgb(50, 167, 145);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.trybewarts-login{
  display: flex;
}
